{% extends 'core/base_books.html' %}
{% block title %}
    Authors list
{% endblock title %}

{% block content %}
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    {% for author in authors %}
        <h1><a href="{{ author.get_absolute_url }}">{{ author.name }}</a> from {{ author.city }}</h1>
        <p>{{ author.bio }}</p>
        <hr>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    <div id="myChart"></div>

    <script>

        state = {
            "items": [],
            "values": [],
        };
        {% for author in authors %}
            state.items.push("{{ author.name}}");
            state.values.push({{ author.get_books_count }});
        {% endfor %}
        buildChart();

        function buildChart() {
            let chartData = {
                "type": "bar",
                "scale-x": {
                    "values": state.items,
                    label: {text: 'Author name'}
                },
                "series": [
                    {
                        "values": state.values
                    }
                ],
                scaleY: {
                    label: {text: 'Number of books'}
                },
            };
            zingchart.render({
                id: 'myChart',
                data: chartData
            });
        }
    </script>

{% endblock content %}