{% extends 'core/base_books.html' %}
{% block title %}
    Books detail
{% endblock title %}

{% block content %}
    <h1>{{ book.name }}</h1>
    <p>{{ book.author.name }}</p>
    <p>{{ book.price }}</p>
    <p>{{ book.pub_date }}</p>
    <textarea disabled>{{ book.description }}</textarea>

    <P><a href="{% url 'books-list' %}">Return to the books list</a></P>
    <p><a href="{% url 'book-update' book.pk%}">Edit</a></p>
    <p><a href="{% url 'book-delete' book.pk%}">Delete Book</a></p>

{% endblock content %}