{% extends 'core/base_books.html' %}
{% block title %}
    Books detail
{% endblock title %}

{% block content %}
    <h1>{{ book.name }}</h1>
    <p>{{ book.author.name }}</p>
    <p>{{ book.price }}</p>
    <p>{{ book.pub_date }}</p>
    <textarea disabled>{{ book.description }}</textarea>

    <P><a href="{% url 'books-list' %}">Return to the books list</a></P>
    {% if user.is_authenticated %}
        <p><a href="{% url 'book-update' book.pk %}">Edit</a></p>
        <p><a href="{% url 'book-delete' book.pk %}">Delete Book</a></p>
    {% else %}
        <p>You should <a href="{% url "login" %}">login</a> to manipulate with this book</p>
    {% endif %}

{% endblock content %}