{% extends 'core/base_books.html' %}
{% load hitcount_tags %}
{% block title %}
    Genre detail
{% endblock title %}

{% block content %}
    <h1>Books of {{ genre.name|title }} genre: </h1>

    {% for book in genre.books.all %}
        <div class="card border-info mb-4 mt-3">
            <div class="card-header border-info text-info text-center ">
                {{ book.author.name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ book.name }}</h5>
                <p class="card-text">{{ book.description|truncatewords:15 }}</p>
                <p>Views: {% get_hit_count for book %}</p>
                <a href="{{ book.get_absolute_url }}" class="btn btn-outline-info">In detail</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}